<div class="card">
    <div class="card-header">
        {{pageTitle}} : {{product.productName}}
    </div>

    <div class="card-body">
        <form (ngSubmit)="save()"
              [formGroup]="productForm">
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label">
                    Product Name
                </label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="productNameId"
                           type="text"
                           placeholder="Name (required)"
                           formControlName="productName" />
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label">Product Code</label>

                <div class="col-md-8">
                    <input class="form-control"
                           id="productCodeId"
                           type="text"
                           placeholder="Code (required)"
                           formControlName="productCode" />
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                       for="starRatingId">Star Rating (1-5)</label>

                <div class="col-md-8">
                    <input class="form-control"
                           id="starRatingId"
                           type="text"
                           placeholder="Rating (1-5)"
                           formControlName="starRating" />
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                       for="descriptionId">Description</label>

                <div class="col-md-8">
                    <textarea class="form-control"
                              id="descriptionId"
                              placeholder="Description"
                              rows=3
                              formControlName="description">
                    </textarea>
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-4">
                    <button class="btn btn-primary mr-3"
                            style="width:80px;"
                            type="submit">
                        Save
                    </button>
                    <button class="btn btn-outline-secondary mr-3"
                            style="width:80px;"
                            type="button"
                            title="Cancel your edits"
                            (click)="onCancel()">
                        Cancel
                    </button>
                    <button class="btn btn-outline-warning"
                            style="width:80px"
                            type="button"
                            title="Delete this product"
                            (click)="deleteProduct()">
                        Delete
                    </button>
                </div>
            </div>
        </form>
        <div class="alert alert-danger"
             *ngIf="errorMessage">{{errorMessage}}
        </div>
    </div>